<div class="wrapper">
        <div class="topBar">
            <div id="open" class="open" onclick="openNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo"><img alt="uni-konzult.png" src="./images/chameleon.ico" width="100" height="40"></img></div>
            <ul class="navbar-nav">
                <li><a href="index">Home</a></li>
                <li><a href="test">Test</a></li>
            </ul>
        </div>

        <div class="nav" id="nav">
            <div class="close" onclick="closeNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="userImg"><img alt="uni-konzult.png" src="./images/chameleon.ico" 
            width="100" height="40"></img></div>
            <a href="index"><i class="fa fa-fw fa-home"></i>Home</a>
            <a href="test"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
        </div>
    </div>