<!doctype html>
<html lang='en'>
<head>
<meta charset="uUTF-8">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="./javascripts/responsive-menu-bar.js"></script>
<title>purple</title>
</head>
<body>
  <div id="content"  onclick="closeNav()">
                <div class="OverlayDiv overlay-animate-opacity" onclick="closeNav()"
                style="cursor:pointer" id="myOverlay"></div>
  </div>
  <div><span>unhide text from top nav</span></div>
  {{{body}}}
</body>
</html>
